{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "$HOME/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2026-02-02T20:56:00.970Z"
  },
  "local-marketplace": {
    "source": {
      "source": "local",
      "path": "claude/local-marketplace"
    },
    "installLocation": "$HOME/.claude/plugins/marketplaces/local-marketplace",
    "lastUpdated": "2026-02-02T20:56:00.970Z"
  }
}
